.contenedor{
    margin: 20px 20px; 
}

.flex{
display: flex; /*de esta manera hago flexible lo que contiene mi etiqueta HTML*/
flex-wrap: wrap;
}

.text-center{
    text-align: center;/*de esta manera centramos un elemto dentro de una etiqueta HTML*/
}

body{
    font-family: 'Merriweather', sans-serif; 
    /*entrando en "fonts.google.com" de esta manera le cambio el tipo de letra a los elementos entro de cierta etiqueta*/
}

.clasediv{
    background-color: #eca78eab;
    padding: 10px;
    margin: 10px auto;
    border: 4px solid black; /* para que aparezca un borde*/
    border-radius: 10px;/*los px equivale practicamente a la curvatura del borde*/
    box-shadow: 10px 10px rgba(117, 117, 116, 0.315);/* se crea una sombra a mi element0*/
    width: 23%; /* Width = ancho        and       height = alto*/
    box-sizing: border-box;/*permitre dividir equitativamente la fila*/
}

.plan{
    color: rgb(94, 94, 138);
}

.letra1{
    font-size: 50px;
    margin: 5px 0px; 
    color: rgb(48, 223, 193);
}

.letra2{
    font-size: 16px; 
    color: rgb(0, 0, 0);
}

.btncomprar{
    text-decoration: none;
    background-color: rgb(218, 111, 99);
    color: black;
    display: block; /*"inline block" respeta los saltos de linea o margenes de los elementos al rededor*/
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.btncomprar:hover{
    background: rgb(240, 182, 176);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
}

.btncomprar:active{
    background: rgb(238, 225, 224);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 10px;
}

@media(max-width:  1700px ){
    .clasediv{
        width: 45%;
        box-sizing: border-box;
    }

}